@import "base.css";
html,
body {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.wrap {
  width: 100%;
}
.swiper-container {
  width: 100%;
  max-width: 640px;
}
.swiper-slide {
  display: block;
  width: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: red;
}
.house-nav li {
  float: left;
  width: 25%;
  text-align: center;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  padding: 13px 0 11px 0;
}
.house-nav li:nth-child(4n+1) {
  border-left: none;
}
.house-nav a {
  display: inline-block;
}
.house-nav a:before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto 9px;
  background: url(../img/icon.png);
  background-size: 50px 1000px;
  border-radius: 4px;
}
.nav1 a:before {
  background-color: #ff565b;
  background-position: center 5px;
}
.nav2 a:before {
  background-color: #fd8e35;
  background-position: center -48px;
}
.nav3 a:before {
  background-color: #f5c132;
  background-position: center -103px;
}
.nav4 a:before {
  background-color: #6cc143;
  background-position: center -158px;
}
.nav5 a:before {
  background-color: #7b7ad7;
  background-position: center -211px;
}
.nav6 a:before {
  background-color: #fe8a66;
  background-position: center -266px;
}
.nav7 a:before {
  background-color: #42bde8;
  background-position: center -321px;
}
.nav8 a:before {
  background-color: #01d1d1;
  background-position: center -374px;
}
h2 {
  height: 36px;
  font-size: 12px;
  line-height: 36px;
  font-weight: bold;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ededed;
  padding-left: 14px;
}
.finish {
  width: 93.75%;
  margin: 25px auto 6px;
}
.finish-1 {
  position: relative;
  padding-bottom: 20px;
}
.finish-1 img {
  width: 100%;
}
.finish-1 a {
  position: absolute;
  width: 10.9375%;
  height: 8.59375%;
  background-color: rgba(255, 255, 255, 0.5);
  right: 0;
  bottom: 25px;
  background: url(../img/agree-me.png) no-repeat;
  background-size: 0 1000px;
}
.finish-2 a {
  width: 48%;
  display: inline-block;
}
.finish-2 a img {
  width: 100%;
}
.finish-2 a:first-child {
  float: left;
}
.finish-2 a:last-child {
  float: right;
}
.house-style li {
  float: left;
  width: 18%;
  text-align: center;
  padding: 9px 2.5% 9px 0;
}
.house-style li:nth-child(n+6) {
  border-top: 1px dotted red;
}
.house-style li:nth-child(5n) {
  padding-right: 0;
}
.house-style li a {
  display: block;
  height: 18px;
  font-size: 9px;
  line-height: 18px;
  background-color: #ededed;
  border-radius: 3px;
}
.more-style {
  width: 100%;
  border: 1px solid #ededed;
  border-radius: 6px;
}
.more-style span {
  font-size: 11px;
  display: inline-block;
  width: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 9px 0 12px 0 ;
}
.more-style span:first-child {
  border-right: 1px solid #ededed;
}
.more-style span:first-child a {
  padding-left: 30px;
  background: url(../img/push.png) no-repeat;
  background-size: contain;
}
.more-style span:nth-child(2) a {
  display: inline-block;
}
.more-style span:nth-child(2) a:after {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid;
  border-right: 1px solid;
  -webkit-transform: rotate(45deg);
  margin-left: 7px;
}
.more-style a:hover {
  color: red;
}
.suan {
  background-color: #f8f8f8;
  padding-top: 25px;
  padding-bottom: 27px;
  border-bottom: 1px solid #ededed;
}
.suan ul {
  width: 93.75%;
  margin: 0 auto;
  border: 1px solid #ededed;
  border-top-color: #ffb039;
  padding-left: 9px;
  border-radius: 7px;
  background-color: #fff;
}
.suan li {
  width: 94%;
  margin: 0 auto 9px;
}
.suan select {
  background-color: transparent;
  -webkit-appearance: none;
}
.suan li:first-child {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.suan li:first-child span {
  position: relative;
}
.suan li:first-child span:before {
  content: "";
  width: 14px;
  height: 19px;
  position: absolute;
  background: url(../img/suan.png) no-repeat;
  background-size: 14px 19px;
  left: -20px;
  top: 0px;
}
.suan li:nth-child(2) input,
.suan li:nth-child(2) select {
  box-sizing: border-box;
}
.suan li:nth-child(2) input {
  width: 48%;
  padding: 9px 7.420494699646643% 9px 3.8869257950530034%;
  border-radius: 4px;
  border: 1px solid #ededed;
}
.suan li:nth-child(2) select {
  border-radius: 6px;
  border: 1px solid #efefef;
  width: 48%;
  padding: 9px 0;
  margin-left: 4%;
  background-color: transparent;
}
.suan li:nth-child(2) em {
  position: relative;
}
.suan li:nth-child(2) em:before {
  position: absolute;
  font-size: 10px;
  content: "㎡";
  top: 0;
  left: -20px;
}
.suan li:nth-child(3) select,
.suan li:nth-child(4) select {
  width: 100%;
  padding: 10px 0 9px 18px;
  border-radius: 6px;
  background-color: transparent;
}
.suan li:last-child a {
  display: block;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background-color: #fa4e3e;
  font-weight: bold;
  border-radius: 6px;
}
.xiala {
  position: relative;
}
.xiala:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-bottom: 1px solid ;
  border-right: 1px solid ;
  background-color: #fff;
  top: 0;
  left: -25px;
  -webkit-transform: rotate(45deg);
}
.strategy {
  width: 93.75%;
  margin: 0 auto 11px;
}
.strategy-nav {
  border-bottom: 1px solid #ededed;
}
.strategy-nav li {
  float: left;
  width: 47.5%;
  border: 1px solid #ededed;
  text-align: center;
  height: 30px;
  line-height: 30px;
  margin: 9px 0;
  border-radius: 6px;
  box-sizing: border-box;
}
.strategy-nav a:before {
  background: url(../img/icon.png);
  background-size: 50px 1000px;
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.strategy-nav li:nth-child(2n) {
  margin-left: 4%;
}
.strategy-nav li:first-child a:before {
  background-position: center -794px;
}
.strategy-nav li:nth-child(2) a:before {
  background-position: center -855px;
}
.strategy-nav li:nth-child(3) a:before {
  background-position: center -919px;
}
.strategy-nav li:nth-child(4) a:before {
  background-position: center -980px;
}
.main-strategy li {
  margin: 9px 0;
}
.main-strategy dt {
  width: 33.33333333%;
  float: left;
  padding-right: 12px;
  font-size: 11px;
}
.main-strategy dt img {
  width: 100%;
}
.main-strategy span {
  display: block;
  font-weight: bold;
}
.main-strategy em {
  color: #a9a9a9;
  overflow: hidden;
}
.fitment-change {
  text-align: center;
  width: 93.75%;
  margin: 12px auto;
  padding: 18px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.fitment-change a {
  display: inline-block;
}
.fitment-change span {
  display: block;
  width: 64px;
  height: 66px;
  background: url(../img/icon-decorate.png) no-repeat;
  background-size: 64px 200px ;
}
.fitment-change a:nth-child(2) {
  position: relative;
  padding: 0 13.4375%;
}
.fitment-change a:nth-child(2) span {
  background-position: 0 -66px;
}
.fitment-change a:nth-child(2):before {
  position: absolute;
  top: 30px;
  left: 15%;
  content: "";
  width: 11px;
  height: 9px;
  background: url(../img/change-to.png) no-repeat;
  background-size: 11px 18px;
}
.fitment-change a:nth-child(2):after {
  position: absolute;
  top: 30px;
  right: 15%;
  content: "";
  width: 11px;
  height: 9px;
  background: url(../img/change-to.png) no-repeat;
  background-size: 11px 18px;
  background-position: 0 -9px;
}
.ad {
  width: 100%;
}
.ad img {
  width: 100%;
  padding-bottom: 9px;
}
.qaa {
  width: 93.75%;
  margin: 0 auto 14px;
}
.qaa .qaa-seek {
  display: block;
}
.qaa .qaa-seek input {
  width: 70%;
  padding: 7px 0 7px 3.3333333333333%;
  vertical-align: middle;
  border: 1px solid #f1f1f1;
  border-right: none;
  outline: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
}
.qaa .qaa-seek a {
  display: inline-block;
  width: 30%;
  text-align: center;
  background-color: #fa4e3e;
  height: 31.5px;
  vertical-align: middle;
  line-height: 31.5px;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.qaa .qaa-seek a:before {
  display: inline-block;
  content: "";
  width: 13px;
  height: 13px;
  background: url(../img/qaa.png);
  background-size: 13px 13px;
  margin-right: 4px;
  vertical-align: middle;
}
.qaa li {
  height: 53px;
  border-bottom: 1px solid #ededed;
  padding-top: 10px;
}
.qaa li var {
  width: 4.3333333%;
  display: inline-block;
  vertical-align: top;
}
.qaa li span {
  display: inline-block;
  width: 75%;
  line-height: 22px;
}
.qaa li a {
  display: block;
  color: red;
}
.qaa li em {
  display: inline-block;
  width: 17%;
  text-align: right;
}
.qaa li em a {
  color: #ccc;
  display: inline;
  position: relative;
}
.qaa li em a:before {
  position: absolute;
  left: -10px;
  top: 2px;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 6px;
  border-color: transparent transparent transparent #ccc;
}
.qaa li:last-child {
  border-bottom: none;
}
.news {
  padding-bottom: 14px;
  border-bottom: 1px solid #ededed;
}
.news li {
  width: 93.75%;
  margin: 0 auto;
  padding: 9px 0;
}
.news var {
  display: inline-block;
  color: #ccc;
  width: 3.333333333333333%;
}
.news a {
  display: inline-block;
  width: 78.83333333333333%;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.news em {
  display: inline-block;
  width: 17.833333333333%;
  color: #ccc;
}
.counter li {
  width: 33.28125%;
  height: 84px;
  float: left;
  text-align: center;
  border-left: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  padding-top: 10px;
}
.counter li:nth-child(3n+1) {
  border-left: none;
}
.counter a {
  display: inline-block;
}
.counter a:before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 auto 9px;
  background: url(../img/icon.png);
  background-size: 50px 1000px;
  border-radius: 4px;
}
.counter1 a:before {
  background-color: #fd9500;
  background-position: center -429px;
}
.counter2 a:before {
  background-color: #4bc1d2;
  background-position: center -484px;
}
.counter3 a:before {
  background-color: #6aca2a;
  background-position: center -539px;
}
.counter4 a:before {
  background-color: #00abfb;
  background-position: center -594px;
}
.counter5 a:before {
  background-color: #cd6fe3;
  background-position: center -649px;
}
.counter6 a:before {
  background-color: #f34949;
  background-position: center -704px;
}
.last-foot {
  padding: 16px 0;
  background-color: #f8f8f8;
  text-align: center;
}
.last-foot p {
  text-align: center;
  margin: 22px 0 7px;
}
.last-foot p a {
  display: inline-block;
  width: 26.25%;
  border: 1px solid #ededed;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
}
.last-foot p a:nth-child(2) {
  margin: 0 4.375%;
  position: relative;
}
.last-foot p a:nth-child(2):before,
.last-foot p a:nth-child(2):after {
  content: "·";
  position: absolute;
  line-height: 24px;
}
.last-foot p a:nth-child(2):before {
  top: 0;
  left: -10%;
}
.last-foot p a:nth-child(2):after {
  top: 0;
  right: -10%;
}
.last-foot > div a:first-child {
  display: block;
  width: 70%;
  text-align: center;
  border: 1px solid #ededed;
  border-radius: 4px;
  margin: 0 auto 13px;
  height: 24px;
  line-height: 24px;
}
.last-foot > div a:first-child em {
  color: red;
  padding-left: 10px;
}
.last-foot > div i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../img/footer-img.jpg) no-repeat;
  background-size: 15px 30px;
  background-position: 5px 5px;
  vertical-align: middle;
}
.last-foot > div span {
  display: block;
  color: #ccc;
  padding-bottom: 8px;
}
.last-foot > div a:last-child {
  padding-left: 20px;
  background: url(../img/footer-img.jpg) no-repeat;
  background-size: 15px 30px;
  background-position: 0 -18px;
}
.fixing a {
  position: fixed;
  width: 12.5%;
  height: 40px;
  background-color: #ccc;
  right: 0;
  background: url(../img/fixed.png) no-repeat;
  background-size: 40px 80px;
}
.fixing a:first-child {
  bottom: 55px;
}
.fixing a:last-child {
  bottom: 10px;
  background-position: 0 -40px;
}
